<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Just Post It</title>
</head>
<body>
<form method="POST">
  <div class="container">
    <label for="Login"><b>Логин</b></label>

    <input type="text" placeholder="" name="Login" required>
    <label for="Password"><b>Пароль</b></label>
    <input type="password" placeholder="" name="Password" required>
    <button type="submit">Войти</button>
    <div class="container">
    <span class="reg"> <a href="/registration">Регистрация</a></span>
    </div>
  </div>
</form>

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/auth.css') }}">
</body>
</html>