span{
  font-family: Roboto, Arial, sans-serif;
  font-size: 10vmax;
  background-color: yellow;
  background-image: linear-gradient(90deg, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section, header {
  font-family: Raleway;
}

input::-webkit-input-placeholder {
    padding-left: 15px;
}

.module-border-wrap {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}